<h1>譜面画像直リンク集</h1>
<p>譜面保管所の譜面個別ページに直接アクセスするためのリンク（重くて探すの不便なので）</p>
<ul>
  <%= link_to "LV19", lv19_path%>
</ul>
<%= link_to "セルフ", :root%>
<%= link_to "あばうと", :about%>
<%= link_to "ほげ", :hoge%>


<%=@message%>