<h1>譜面画像直リンク集</h1>

<%= form_for @lv19s, html: { class: "form-group" }  do |form| %>
  <%= form.radio_button :bpm, 1 %>5
<% end %>

<% @lv19s.each do |n|%>
<%= link_to n.name, n.url%><%=n.bpm%><br/>
<% end %>

<%=@message%>